*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Futura-Bol';
    src: url('fonts/Futura-Bol.ttf') format('truetype');
}
@font-face{
    font-family: 'Futura-Boo';
    src: url('fonts/Futura-Boo.ttf') format('truetype');
}
@font-face{
    font-family: 'Futura-BooObl';
    src: url('fonts/Futura-BooObl.ttf') format('truetype');
}

nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 40px;
}

nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    /*font-family: 'Futura-BooObl',sans-serif;*/
    transition: color 0.3s ease;
}

nav a:hover{
    color: blue;
}

@media (max-width: 768px){
nav{
display: none;
}}


.first-view{
    width: 100%;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-position: center center;
}

.logo{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img{
    width: 100%;
    height: auto;
}

.logo p{
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Futura-BooObl',sans-serif;
}

@media (max-width: 768px){
.logo img{
    width: 450px;
}
.logo p{
    font-size: 20px;
}
}

@media (max-width: 498px){
.logo img{
    width: 200px;
}
.logo p{
    font-size: 15px;
}
}

.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

h2{
    color: #4A62D1;
    text-align: center;
    font-size: 55px;
    font-family: 'Futura-Bol',sans-serif;
    margin: 70px;
}

.contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1000px; /*広がりすぎないように*/
    margin: 0 auto 50px;
}

.contents img{
    width: 450px;
    height: auto;
    object-fit: cover;
}

.text{
    max-width: 450px;
}

.text p{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Futura-Boo',sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.8;
}

.text a{
    display: block;
    width: 180px;
    text-align: center;
    text-decoration: none; /*下線を消す*/
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    background-color: #4A62D1;
    padding: 5px 10px;
    margin: 30px auto 0;
}

.text a:hover{
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);
    opacity: 0.9;
}

.content-reverse{
    flex-direction: row-reverse;
}

.content-reverse a{
    background-color: #f7c14d;
}

/*@media (max-width: 768px){
.text {
    margin-top: -40px;
}
}*/

@media (max-width: 498px){
h2{
    font-size: 30px;
}
.contents img{
    width: 80%;
}
.contents p{
    margin: 5px 15px;
    font-size: 13px;
}
}

#courses{
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/*
#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
*/

#particles-js {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 0;  
    background-color: #DEEBF7;    
}

.course-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin-bottom: 50px;
    
}

.course-content{
    background: #fff;
    width: 230px;
    height: auto;
    padding: 50px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.course-content img{
    width: 80px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 50px;
}

.course-content p{
    color: #334477;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
} 

.course-content a{
    display: block;
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
} 

.course-content a:hover{
    box-shadow: 0 10px 20px rgb(0,0,0,0.1);
    opacity: 0.9;
}

.html{
    background-color: #e47942;
}

.css{
    background-color: #59ade0;
}

.unity{
    background-color: #333333;
}

.ruby{
    background-color: #eb665e;
}

.js{
    background-color: #f0db4f;
}

.swift{
    background-color: #f05138;
}

.go{
    background-color: #00add8;
}

@media (max-width: 498px){
.course-contents{
    margin: 20px 20px;
}

.course-content{
    width: 200px;
}

}

#images{
    padding: 0 0 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.slider img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick'; 
    font-size: 20px;      
    color: #333333;
}

.slick-prev{
    left: -30px; 
    z-index: 3;
    color:#333333 
}

.slick-next{
    right: -30px;
    z-index: 3;
    color:#333333;
}

@media (max-width: 498px){
.slider{
    width: 75%; 
    margin: 0 auto;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
}

#access{
    padding: 50px;
    margin-top: -100px;
}


iframe{
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
}

@media (max-width: 498px){
iframe{
    width: 300px;
}
}

footer{
    margin-bottom: -80px;
}

footer p{
    color: blue;
    text-align: center;
    font-size: 13px;
}